{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock head %}


{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center overflow-x-scroll" style="min-width: 750px;">
    <div class="col-6 col-sm-6 col-md-5 border border-dark text-center overflow-hidden p-0">
      
      {% if cloth.thumbnail %}
      <img src="{{ cloth.thumbnail.url }}" style="object-fit:cover;" class="mb-3" width="100%" alt="">
      {% else %}
      <img src="{% static 'img/common/passionon.png' %}" style="object-fit:cover;" class="mb-3" width="100%" alt="">
      {% endif %}

      {% for cloth_image in cloth_images %}
      <div class="thumbnail-container border border-dark">
        <img src="{{ cloth_image.image.url }}" alt="Clothes Image" class="thumbnail" data-large-image="{{ cloth_image.image.url }}" data-thumbnail-image="{{ cloth.thumbnail.url }}">
      </div>
      {% endfor %}
      
    </div>

    <div class="col-4 col-sm-4 col-md-4 border border-dark">
      <div class="m-3">

      <p class="text-secondary">{{ cloth.brand }}</p>
      <p class="fw-bold">{{ cloth.name }}</p>
      <p>size : <span id="clothSize">{{ cloth.size }}</span></p>
      <p><span id="clothesPrice">{{ cloth.price }}</span>원</p>
      {% comment %} <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          옵션을 선택하세요
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item" style="cursor: pointer">Small</li>
          <li class="dropdown-item" style="cursor: pointer">Medium</li>
          <li class="dropdown-item" style="cursor: pointer">Large</li>
          <li class="dropdown-item" style="cursor: pointer">Free</li>              
        </ul>
      </div> {% endcomment %}
      <button class="btn btn-outline-primary btn-sm me-2" onclick="decrease()">-</button>
      <input class="me-2" type="number" id="numInput" value="1" min="1" oninput="checkValue(); updateTotal();" style="width: 50px;">
      <button class="btn btn-outline-primary btn-sm" onclick="increase()">+</button>
      <p id="totalAmount" class="mt-3"></p>

      <div>
        <b>Tag</b>
        <div class="mt-2 mb-4">
          {% for tag in tags %}
            <button type="button" class="btn btn-outline-dark btn-sm">{{ tag }}</button>
          {% endfor %}             
        </div>      
      </div>

      <p class="text-danger">전 상품 무료배송</p>
      <div class="d-flex justify-content-center">
        <button class="btn btn-dark btn-lg align-content-center">
          바로구매
        </button>
        <button class="btn btn-outline-dark btn-lg align-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
        </button>
        <form action="{% url 'accounts:add_cart' cloth.pk %}" method="post" class="">
          {% csrf_token %}
          <input type="hidden" name="quantity" value="1" id="quantityInput">
          {% comment %} <input type="hidden" name="size" value="free"> {% endcomment %}
          <button class="btn btn-outline-dark btn-lg align-content-center h-100">            
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
          </button>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>

  <div class="mt-3 d-flex justify-content-center">
    <div class="col-9 col-sm-9 col-md-9">
      <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">상세정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#review">후기</a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="#">상품문의</a>
        </li> {% endcomment %}
      </ul>

      <div class="text-center my-5">
        {% for img in cloth_description_images %}
        <img src="{{ img.description_image.url }}" alt="" class="" style="max-width: 50rem;">
        {% empty %}
        <p class="text-secondary text-center">
          상품 정보가 없습니다.
        </p>
        {% endfor %}
        {% comment %} <img src="https://image.musinsa.com/images/prd_img/2021081812070300000022384.jpg" alt=""> {% endcomment %}
      </div>
      <div class="my-5 d-flex justify-content-center">
        <a href="#" class="btn btn-dark" style="width: 10rem;">top</a>
      </div>


      <div id='review'></div>
      <div class="border border-dark border-start-0 border-end-0">
        <div class="fs-4 my-1 ms-3 d-flex justify-content-between">
          <div>
            <b>구매후기 ({{ cloth.review_set.count }}개)</b>
            <span class="fs-5">리뷰 평점 : {{ review_avg|floatformat:1 }}</span>
          </div>
          {% if request.user.is_authenticated and exist_flag %}
          <div><a href="{% url 'reviews:review_create' cloth.pk %}" class="btn btn-dark">리뷰 작성</a></div>
          {% endif %}
        </div>
      </div>

      {% for review in reviews %}
      <div class="d-flex col-10 mt-3 bg-body-tertiary">
        <div class="flex-column col-3 text-center">
          <div class="mx-auto my-2 image_container overflow-hidden">
            {% if review.reviewimage_set.all.first %}
              <img src="{{ review.reviewimage_set.all.first.image.url }}" alt="" width="100%">      
            {% else %}
              <img src="{% static 'img/common/passionon.png' %} " alt="" width="100%">                
            {% endif %}
          </div>
          {% comment %} <p class="small text-secondary">옵션: 30</p> {% endcomment %}
        </div>
        <div class="flex-column">
          <div class="d-flex pt-1">
            <p class="my-1">{{ review.user }}</p>
            <p class="my-1 ms-2">{{ review.star_rating }}</p>
            {# 본인 리뷰 수정/삭제 #}
            {% if request.user == review.user %}
              <div class="d-flex">
                <form action="{% url 'reviews:review_delete' cloth.pk review.pk %}" method="post" class="ms-3">
                  {% csrf_token %}
                  <a href="{% url 'reviews:review_update' cloth.pk review.pk %}" class="" style="width: 1rem;">
                    {% comment %} <i class="bi bi-pencil-square text-dark"></i> {% endcomment %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-pencil-square text-primary" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </a>
                  <button type="submit" class="border-0 bg-transparent p-1" style="width: 1rem;">
                    {% comment %} <i class="bi bi-trash3 text-danger"></i> {% endcomment %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-trash3 text-danger" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                  </button>
                </form>
              </div>
            {% endif %}
          </div>
          <div>{{ review.content }}</div>
        </div>
      </div>


      {% endfor %}

      {% comment %} <div class="mt-5" id='QNA'></div>
        <div class="border border-dark border-start-0 border-end-0 d-flex justify-content-start">
          <div class="fs-4 my-1 ms-3"><b>상품문의</b></div>              
        </div>
        <div class="d-flex text-center">
          <p class="col">번호</p>
          <p class="col">답변여부</p>
          <p class="col-5">내용</p>
          <p class="col">작성자</p>
          <p class="col">작성일자</p>
        </div> {% endcomment %}

    </div>
  </div>

<script src="{% static 'javascript/detail.js' %}"></script>
{% endblock content %}