{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">  
<link rel="stylesheet" href="{% static 'css/index.css' %}">  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Passion+One&display=swap" rel="stylesheet">
{% endblock head %}


{% block content %}
{# Main Page Carousel #}
<div class="my-carousel">
    <div class="my-carousel-inner">
        <input class="my-carousel-open" type="radio" id="my-carousel-1" name="my-carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="my-carousel-item">
            <div class="slide1-text1">SPRING SALE!</div>
            <div class="slide1-text2">자세한 정보는 페이지를 확인하세요!</div>
            <img src="https://images.unsplash.com/photo-1530543787849-128d94430c6b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
        </div>
        <input class="my-carousel-open" type="radio" id="my-carousel-2" name="my-carousel" aria-hidden="true" hidden="">
        <div class="my-carousel-item">
            <img src="https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
        </div>
        <input class="my-carousel-open" type="radio" id="my-carousel-3" name="my-carousel" aria-hidden="true" hidden="">
        <div class="my-carousel-item">
            <div class="slide3-text1">NEW JEANS!</div>
            <div class="slide3-text2">홍대 어떻게 가요?</div>
            <img src="https://images.unsplash.com/photo-1652432977576-0695667efedc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
        </div>
        <label for="my-carousel-3" class="my-carousel-control prev control-1">‹</label>
        <label for="my-carousel-2" class="my-carousel-control next control-1">›</label>
        <label for="my-carousel-1" class="my-carousel-control prev control-2">‹</label>
        <label for="my-carousel-3" class="my-carousel-control next control-2">›</label>
        <label for="my-carousel-2" class="my-carousel-control prev control-3">‹</label>
        <label for="my-carousel-1" class="my-carousel-control next control-3">›</label>
        <ol class="my-carousel-indicators">
            <li>
                <label for="my-carousel-1" class="my-carousel-bullet">•</label>
            </li>
            <li>
                <label for="my-carousel-2" class="my-carousel-bullet">•</label>
            </li>
            <li>
                <label for="my-carousel-3" class="my-carousel-bullet">•</label>
            </li>
        </ol>
    </div>
</div>

{# Main Page Content #}
<div>
    <div class="product-content">
        <h3>Just Dropped</h3>
        <p>발매 상품</p>
        <div class="product-grid">
            {% for cloth in new_clothes %}
            <div class="product-item newClothes" 
            id="newClothes{{ forloop.counter }}" 
            {% if forloop.counter > 4 %}hidden{% endif %}>
                <a href="{% url 'clothes:detail' cloth.pk %}">
                    {% if cloth.thumbnail %}
                    <img src="{{ cloth.thumbnail.url }}" alt="Product 1">
                    {% else %}
                    <img src="{% static 'img/common/passionon.png' %}" alt="Product 1">
                    {% endif %}
                    <div class="product-title">{{ cloth.name }}</div>
                    <div class="product-description">{{ cloth.brand }}</div>
                    <div class="product-price-text">{{ cloth.price }}원</div>
                    <p class="product-add-text">즉시구매가</p>
                </a>
            </div>
            {% empty %}
            <p class="text-secondary text-center">신상품 없음</p>
            {% endfor %}
        </div>
        <div class="d-flex mb-2">
            <button id="newClothesBtn" class="mx-auto btn btn-secondary">더보기</button>
        </div>
    </div>

    <div class="img-box">
        <img src="https://kream-phinf.pstatic.net/MjAyMzA1MDhfMTIg/MDAxNjgzNTI3MDY4Nzg4.ySJp5NBDSBq-MmFloLwBe6QeV1fJBd_BYoL19pZXf50g.2uw1Obhr4MuTl5knPMmZFBFttligmoxl527yU6uURJUg.JPEG/a_9944502aab6a4ab5a01c432c4ee87fc3.jpg?type=m_2560_webp" alt="">
    </div>

    <div class="product-content">
        <h3>Best Items</h3>
        <p>인기 상품</p>
        <div class="product-grid">
            {% for cloth in hot_clothes %}
            <div class="product-item hotClothes" 
            id="hotClothes{{ forloop.counter }}"
            {% if forloop.counter > 4 %}hidden{% endif %}>
                <a href="{% url 'clothes:detail' cloth.pk %}">
                    {% if cloth.thumbnail %}
                    <img src="{{ cloth.thumbnail.url }}" alt="Product 1">
                    {% else %}
                    <img src="{% static 'img/common/passionon.png' %}" alt="Product 1">
                    {% endif %}
                    <div class="product-title">{{ cloth.name }}</div>
                    <div class="product-description">{{ cloth.brand }}</div>
                    <div class="product-price-text">${{ cloth.price }}</div>
                    <p class="product-add-text">즉시구매가</p>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex mb-2">
            <button id="hotClothesBtn" class="mx-auto btn btn-secondary">더보기</button>
        </div>
    </div>

    <div class="img-box">
        <img src="https://kream-phinf.pstatic.net/MjAyMzA1MDhfNzYg/MDAxNjgzNTI5NTI2NjU2.BufBvjTCgqAV3Q-8kz6wrKnThPqWpGejLbe7JMvUnbIg.PRvSoyQo7ZBX1Etxh6nrxCZ6zTn5dh9G-cXmfsYeJzog.JPEG/a_52d48d52be30471a9a1053f6b0e54388.jpg?type=m_2560_webp" alt="">
    </div>

    <div class="product-content">
        <h3>Trending</h3>
        <p>나만의 코디</p>
        <div class="product-grid">
            {% for recommend in recommends %}
            <div class="product-item">
                <a href="{% url 'clothes:recommend_detail' recommend.pk %}">
                    <img src="{% static 'img/common/passionon.png' %}" alt="Coordi 1">
                    <div class="product-title">{{ recommend.title }}</div>
                    <div class="product-description recommend-product-description">{{ recommend.content }}</div>
                    <p class="product-add-text">즉시구매가</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="{% static 'javascript/index.js' %}"></script>

{% endblock content %}