{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/recommend.css' %}">
{% endblock head %}

{% block content %}
<div class="create_page">
  <h2 class="form-title"><strong>추천 코디등록</strong></h2>
  <form {% url 'clothes:recommend_create' %} method="POST" enctype="multipart/form-data" class="create_page__form">
    {% csrf_token %}
    {{ recommend_form.as_p }}
    {{ recommend_image_form.as_p }}
    <div class="button-container">
      <button type="submit" class="submit-button">등록</button>
    </div>
  </form>
</div>
{% endblock content %}
