{% extends 'base.html' %}



{% block content %}
  <h2>{{ recommend.title }}</h2>
  <p>{{ recommend.created_at }} | 조회 {{ recommend.hits }}</p>
  <p>내용: {{ recommend.content }}</p>
  <p>태그: 
    {% for tag in recommend.tags.all %}
    # {{ tag.name }}
    {% if not forloop.last %}, 
    {% endif %}
    {% endfor %}
  </p>
  
  {% for recommend_image in recommend_images %}
    <img src="{{ recommend_image.image.url }}" alt="이미지">
  {% endfor %}

  <h3>코디 상품</h3>
  <ul>
    {% for cloth in recommend.clothes.all %}
      <li>
        {% if cloth.thumbnail %}
          <a href="{% url 'clothes:detail' cloth.pk %}">
            <img src="{{ cloth.thumbnail.url }}" alt="상품 썸네일">
          </a>
        {% endif %}
        <p>
          <a href="{% url 'clothes:detail' cloth.pk %}">{{ cloth.brand }}</a>
        </p>
        <p>
          <a href="{% url 'clothes:detail' cloth.pk %}"><strong>{{ cloth.name }}</strong></a>
        </p>
        <p>
          {{ cloth.price }}원
        </p>
      </li>
    {% endfor %}
  </ul>
  {% if recommend.user == request.user %}
    <a href="{% url 'clothes:recommend_delete' recommend.pk %}">삭제</a>
  {% endif %}
  
  <form action="{% url 'clothes:comments_create' recommend.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form.content }}
    <button type="submit" class="btn btn-primary">댓글 작성</button>
  </form>
  
  <!-- 댓글 목록 -->
  {% for comment in recommend.comment_set.all %}
    <div class="comment">
      <p>{{ comment.content }}</p>
      <p>{{ comment.created_string }}</p>
      {% if comment.user == request.user %}
        <!-- 댓글 삭제 링크 -->
        <a href="{% url 'clothes:comments_delete' recommend.pk comment.pk %}">삭제</a>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}