
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

@media (min-width: 768px) {
    .main-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.profile-page {
    width: 300px;
    /* margin: 0 auto; */
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-right: 3rem;
}

.profile-page__image {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px auto;
    border-radius: 50%;
    overflow: hidden;
}

.profile-page__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-page__form {
    margin-top: 20px;
}

.profile-page__form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.profile-page__form input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    padding: 10px;
}

.profile-page__form button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.right-div {
    flex: 1;
    padding: 3rem;
    background-color: rgb(243, 243, 243);
}
.right-div div {
    margin-bottom: 3rem;
}
.cart, .purchase-history, .feed {
    margin-bottom: 20px;
}

.cart-item, .history-item, .feed-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item img, .feed-item img {
    width: 30px;
    height: 30px;
    border-right: 1px solid lightgray;
}

.cart-item, .purchase-history p {
    flex: 1;  /* Make each <p> element take up equal space */
    border-right: 1px solid lightgray;  /* Draw a border on the right side */
    padding: 0 10px;  /* Add some padding so the text doesn't touch the border */
    text-align: center;  /* Center the text horizontally */
}

.cart-item, .purchase-history p:last-child {
    border-right: none;  /* Remove the border for the last <p> element */
}

.feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feed-item {
    width: calc(25% - 10px);
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.feed-image {
    width: 100%;
    flex: 6;
    overflow: hidden;
}

.feed-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feed-content {
    background: white;
    padding: 10px;
    flex: 4;
}
