{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock head %}

{% block content %}
<div class="password-page">
  <div class="password-page__image">
    {% if request.user.profile_image %}
    <img src="{{ request.user.profile_image.url }}" alt="Empty Profile Image" id="profileImage">
    {% else %}
    <img src="{% static 'img/common/blank_profile.jpg' %}" alt="Empty Profile Image" id="profileImage">
    {% endif %}
  </div>

  <form action="{% url 'accounts:change_password' %}" method="post" class="password-page__form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">비밀번호 변경</button>
  </form>
</div>
{% endblock content %}