{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block content %}
<div class="login-page">
    <div class="login-page__logo">
        <h1>PASSION ON</h1>
        <h4>Fashion your Passion</h4>
    </div>
    <form action="{% url 'accounts:login' %}" method="post" class="login-page__form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">로그인</button>
    </form>
    <div class="login-page__links">
        <a href="#">이메일 가입</a>
        <a href="#">이메일 찾기</a>
        <a href="#">비밀번호 찾기</a>
    </div>
    <div class="login-page__sns-login">
    {% load socialaccount %}
    <a href="{% provider_login_url 'naver' %}" class="">
        <button class="naver-login">네이버로 로그인</button>
    </a>
    
    <a href="{% provider_login_url 'kakao' %}">
        <button class="kakao-login">카카오톡으로 로그인</button>
    </a>
    </div>
</div>
{% endblock content %}