{% extends 'base.html' %}
{% load static %}


{% block content %}
<main class="container">
  <h1 class="">{{ person.username }}의 프로필</h1>

  {% if person.profile_image %}
  <img src="{{ person.profile_image.url }}" alt="" class="">
  {% else %}
  <img src="{% static 'blank_profile.jpg' %}" alt="" class="">
  {% endif %}

  <p>이름 - {{ person.first_name }}</p>
  <p>성 - {{ person.last_name }}</p>
  <p>이메일 - {{ person.email }}</p>

  <h3 class="text-warning">코디</h3>

  {% if request.user == person %}
  <h3 class="text-secondary">장바구니</h3>
  <table>
    <p class="text-danger">{{person.carts.all}}</p>
    {% for cart in carts %}
    <tr>
      <td>ID={{cart.pk}} | </td>
      <td>[{{ cart.cloth.brand }}]{{ cart.cloth.name }} - {{ cart.cloth.size }} | </td>
      <td>{{ cart.cloth.price }}원 - {{cart.quantity}}개</td>
      <td>
        <form action="{% url 'accounts:delete_cart_item' request.user cart.pk %}" method="post" class="">
          {% csrf_token %}
          <button type="submit" class="">장바구니에서 삭제</button>
        </form>
      </td>
      <td><p class="">지불금{{cart.item_cost}}</p></td>
    </tr>
    {% empty %}
    <p>empty</p>
    {% endfor %} 
  </table>
  <h3 class="text-primary">구매 이력</h3>
  <table>
    {% for log in purchase_logs  %}
    <tr>
      <td>ID={{log.pk}} | </td>
      <td>[{{ log.cloth.brand }}]{{ log.cloth.name }} - {{ log.cloth.size }} | </td>
      <td>{{ log.cloth.price }}원 - {{log.quantity}}개</td>
      <td>
        <form action="{% url 'accounts:delete_purchase_log' request.user log.pk %}" method="post" class="">
          {% csrf_token %}
          <button type="submit" class="">구매이력 삭제</button>
        </form>
      </td>
    </tr>
    {% empty %}
    <p>empty</p>
    {% endfor %}
  </table>
  {% endif %}

</main>
{% endblock content %}