{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock head %}


{% block content %}
<div class="main-container">
    <div class="profile-page">
        <div class="profile-page__image">
            {% if request.user.profile_image %}
            <img src="{{ request.user.profile_image.url }}" alt="Empty Profile Image" id="profileImage">
            {% else %}
            <img src="{% static 'img/common/blank_profile.jpg' %}" alt="Empty Profile Image" id="profileImage">
            {% endif %}
        </div>
        {% if request.user == person %}
        {# 본인의 프로필 페이지인 경우 - 프로필 정보 업데이트 #}
        <form action="{% url 'accounts:update' %}" method="post" enctype="multipart/form-data" class="profile-page__form">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'accounts:change_password' %}" class="container-fluid btn btn-outline-primary">패스워드 변경</a>
            <button type="submit">프로필 업데이트</button>
        </form>
        {% else %}
        {# 본인의 프로필 페이지가 아닌 경우 #}
        <div class="d-flex justify-content-evenly">
            <div class="d-flex flex-column">
                <small class="text-secondary">성</small>
                <p class="fw-bold">{{ person.last_name }}</p>
            </div>
            <div class="d-flex flex-column">
                <small class="text-secondary">이름</small>
                <p class="fw-bold">{{ person.first_name }}</p>
            </div>
        </div>
        <small class="text-secondary">이메일</small>
        <p class="fw-bold">{{ person.email }}</p>
        {% endif %}
    </div>
    <div class="right-div">
        {% if request.user == person %}
        <section>장바구니</section>
        <!-- 장고 입력 예시  -->
        <div class="cart">
            {% for item in carts %}
            <a href="{% url 'clothes:detail' item.cloth.pk %}">
                <div class="cart-item">
                    {% if item.cloth.thumbnail %}
                    <img src="{{ item.cloth.thumbnail.url }}" alt="product_image">
                    {% else %}
                    <img src="{% static 'img/common/passionon.png' %}" alt="No Product Image" class="">
                    {% endif %}
                    <p>{{ item.cloth.name }}</p>
                    <p>{{ item.cloth.price }}원</p>
                    <p>{{ item.quantity }}개</p>
                    {# item_cost = 상품가격 * 장바구니에 담은 상품 갯수 #}
                    <p>{{ item.item_cost }}원</p>
                </div>
            </a>
            {% endfor %}
        </div>
        <section>구매 내역</section>
        <div class="purchase-history">
            <div class="purchase-history">
                <div class="history-item">
                    <p>상품명</p>
                    <p>가격</p>
                    <p>개수</p>
                    <p>총 가격</p>
                </div>
                {% for item in purchase_logs %}
                <div class="history-item">
                    <p>{{ item.cloth.name }}</p>
                    <p>{{ item.cloth.price }}원</p>
                    <p>{{ item.quantity }}개</p>
                    {# item_cost = 상품가격 * 당시 구매한 상품 갯수 #}
                    <p>{{ item.item_cost }}원</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <section>피드</section>
        <div class="feed">
            {% for feed in feeds %}
            <div class="feed-item">
                <div class="feed-image">
                    <img src="{{ feed.image_url }}" alt="feed_image">
                </div>
                <div class="feed-content">
                    <p>{{ feed.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}