<footer>
  <div class="footer-content row">
      <nav class = "footer-more col-md-4">
          <p>More ></p>
          <ul>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Service</a></li>
          </ul>
      </nav>
      <nav class="footer-member col-md-4">
          <p>Members ></p>
          <ul>
              <li><a href="#">Chang-Jo Kim</a></li>
              <li><a href="#">Sang-Yoon Shin</a></li>
              <li><a href="#">Chung-Hyun Choi</a></li>
              <li><a href="#">Yeon-Seon Chu</a></li>
          </ul>
      </nav>
      <nav class="footer-contact col-md-4">
          <i class="fa-brands fa-instagram fa-xl"></i>
          <i class="fa-brands fa-facebook fa-xl"></i>
          <i class="fa-brands fa-twitter fa-xl"></i>
      </nav>
      <hr> 
      <p class="copyright">© 2023 Passion On. All Rights Reserved.</p>
  </div>
</footer>