<div class="nav-bar">
  <h1 class="logo">Passion On</h1>
  <div class="icons d-md-none">
      <div class="search-icon">
          <div class="material-symbols-outlined">search</div>
      </div>
      <div class="">
          <div class="material-symbols-outlined">notifications</div>
      </div>
      <div class="openbtn" onclick="openNav()">
          <span class="material-symbols-outlined">menu</span>
      </div>
  </div>
  <div class="gnb d-none d-md-block">
      <div class="search-and-menu">
          <form id="search-form">
              <input id="main_search" class="main_search" type="search" placeholder="Search">
              <div class="material-symbols-outlined" id="search-icon">search</div>
          </form>
          <div class="gnb-list">
              <a href="#">HOME</a>
              <a href="#">STYLE</a>
              <a href="#">SHOP</a>
              <a href="#">MY</a>
          </div>
      </div>
  </div>
</div>



<ul class="catemenu">
  <li class="catemenu-item">추천</li>
  <li class="catemenu-item">랭킹</li>
  <li class="catemenu-item">남성</li>
  <li class="catemenu-item">여성</li>
</ul>

<div id="mySidebar" class="sidebar">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
<a href="#">HOME</a>
<a href="#">STYLE</a>
<a href="#">SHOP</a>
<a href="#">MY</a>
</div>